body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif,helvetica;
  margin: 0;
  padding: 1em 5em;
  

}

h1 {
  font-family: sans-serif,helvetica;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}

div#logged-label {
	margin-bottom: 15px;
}

td.table-form {
  padding: 3px;
  text-align: left;
}
